body,
#age-verifiaction {
    background-image: url('./assets/images/beer.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center center;
    background-color: rgb(253, 255, 115);
}

header,
#age-verification {
    text-align: center;
    padding: 2em;
}

body,
#age-verification {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 180%;
}

#age-verification h1 {
    margin-bottom: 0.75em;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 2.3em;
    -webkit-text-stroke: 1px #1d00be;
    text-shadow: 0px 3px 3px #5c0101;
}

#age-verification button {
    padding: 0.7em 0.9em;
    font-size: 100%;
    cursor: pointer;
}

#age-verification img {
    padding-top: 2em;
    width: 320px;
    height: auto;
}

#age-verified body {
    background-image: url(./assets/images/wallamarillo.jpg);
}

/* Estilos para el contenido después de la verificación de edad */
#age-verified-content {
    color: #111111;
}

#age-verified-content h1 {
    font-size: 300%;
    -webkit-text-stroke: 0.50px #700d00;
    text-shadow: 0px 0.5px 0.5px #a7a7a7;
    padding: 20px;
    margin-top: 1%;
}

@media only screen and (max-width: 765px) {
    #age-verified-content h1 {
        margin-top: 75px;
    }
}

#age-verified-content p {
    color: rgb(80, 9, 9);
    font-size: 250%;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 1px 1px 1px #e00303;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #ccc;
}

#desplegableProductos {
    background-color: rgb(29, 29, 29);
}


#desplegableProductos a {
    color: rgb(192, 190, 190);
}

#desplegableProductos a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#nombreComercio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
    #nombreComercio {
        display: none;
    }
}


#carritoLink {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 50px;
    height: 50px;
}


#logoMono {
    max-width: 100%;
    height: auto;
    width: 400px;
}

#nav-carousel-container {
    display: none;
}

#bebidas-carousel {
    background-color: #fff;
    overflow: hidden;
    padding: 0px;
    margin-top: 0px;
}

#bebidas-carousel .carousel-control-prev,
#bebidas-carousel .carousel-control-next {
    display: none;
}

.carousel-inner {
    display: flex;
    animation: scroll 5s linear;
}

.carousel-item {
    color: #000;
    flex: 0 0 auto;
    margin-right: 0px;
}

@keyframes scroll {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

#bebidas-carousel .carousel-item a {
    color: #000 !important;
    text-decoration: none !important;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

@media (max-width: 767px) {
    .carousel {
        display: none;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#cart-icon {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

main {
    padding: 20px;
}

#cart-items {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

#cart-items img {
    max-width: 50px;
}

#order-form {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#age-verified-content {
    display: none;
}

.product-category {
    margin-bottom: 20px;
    text-align: center;
    padding: 70px;
}

.product-category h2 {
    margin-top: 30px;
    text-align: center;
}

.product-list {
    list-style: none;
    padding: 30px;
}

.product-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 6px;
}

.cerveza {
    color: white;
    text-shadow: 4px 4px 4px #000000;
    background-color: #f8d7da;
    background-size: cover;
    background-image: url(./assets/images/Fondo\ para\ productos.jpg);
    background-position: 50% 60%;
    padding: 40px;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

.whisky {
    color: white;
    text-shadow: 4px 4px 4px #000000;
    background-color: #f8d7da;
    background-size: cover;
    background-image: url(./assets/images/Fondo\ para\ productos.jpg);
    background-position: 50% 60%;
    padding: 40px;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

.vodka {
    color: white;
    text-shadow: 4px 4px 4px #000000;
    background-color: #f8d7da;
    background-size: cover;
    background-image: url(./assets/images/Fondo\ para\ productos.jpg);
    background-position: 50% 60%;
    padding: 40px;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

.ginebra {
    color: white;
    text-shadow: 4px 4px 4px #000000;
    background-color: #f8d7da;
    background-size: cover;
    background-image: url(./assets/images/Fondo\ para\ productos.jpg);
    background-position: 50% 60%;
    padding: 40px;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

.carrito {
    background-image: url(./assets/images/fondocarrito1.png);
    background-size: cover;
    padding: 25px;
}

#carritoFinal {
    padding: 40px;
    margin-bottom: 80px;
}

.carrito {
    color: white;
    text-shadow: 5px 5px 5px #000000;
    font-size: 25px;
}

.carrito h1 {
    color: white;
    text-shadow: 5px 5px 5px #000000;
    font-size: 40px;
}

footer {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2em;
    text-align: center;
    color: #fff;
    background-color: #181818;
    font-size: 14px;
    font-style: italic;
}

footer .redesSociales {
    margin-top: 50px;
    margin-bottom: 15px;
    max-height: 31px;
    max-width: 31px;
}

@media (min-width: 0px) and (max-width: 535px) {
    footer .redesSociales {
        margin-top: 50px;
        margin-bottom: 15px;
        height: 17px;
        width: 17px;
    }
}

footer .logoAutor {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 130px;
    width: 130px;
}

@media (min-width: 0px) and (max-width: 535px) {
    footer .logoAutor {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 80px;
        width: 80px;
    }
}

footer .textoAutor {
    margin-top: -15px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    background-color: #181818;
    font-size: 15px;
    font-style: italic;
}

@media (min-width: 0px) and (max-width: 535px) {
    footer .textoAutor {
        margin-top: -15px;
        margin-bottom: 20px;
        text-align: center;
        color: #fff;
        background-color: #181818;
        font-size: 12px;
        font-style: italic;
    }
}

footer .textoFoot {
    margin-top: 18px;
    margin-bottom: 0px;
    text-align: center;
    color: #fff;
    background-color: #181818;
    font-size: 17px;
    font-style: italic;
}

footer #copyFoot {
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    color: #fff;
    background-color: #181818;
    font-size: 15px;
    font-style: italic;
}

@media (max-width: 535px) {
    footer #copyFoot {
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 12px;
    }
}

#footer {
    display: none;
}